nav#mobile-burger-menu
    ul
        li
            a(href="index.html") Главная
        li
            a(href="about.html") О клинике
        li
            a(href="specialists.html") Специалисты
        li
            a(href="services.html") Услуги стоматологии
            ul
                li
                    a(href="service.html") Имплантация зубов
                    ul
                        li
                            a(href="service.html") Бюгельное протезирование
                        li
                            a(href="service.html") Протезирование на имплантах
                        li
                            a(href="service.html") Установка зуба на штифте
                        li
                            a(href="service.html") Установка моста на зубы
                        li
                            a(href="service.html") Шинирование зубов
                        li
                            a(href="service.html") Коронки
                        li
                            a(href="service.html") Керамические коронки
                        li
                            a(href="service.html") Металлокерамические коронки
                        li
                            a(href="service.html") Пластмассовые коронки
                        li
                            a(href="service.html") Циркониевые коронки
                li
                    a(href="#") Лечение зубов
                li
                    a(href="#") Челюстно-лицевая хирургия
                li
                    a(href="#") Протезирование зубов
                li
                    a(href="#") Эстетическая стоматология
                li
                    a(href="#") Лечение зубов по полисам ОМС и ДМС
                li
                    a(href="#") Бесплатная консультация врача стоматолога 
        li
            a(href="prices.html") Цены
        li
            a(href="stocks.html") Акции
        li
            a(href="oms-dms.html") ОМС/ДМС
        li
            a(href="contacts.html") Контакты