mixin arrow-r 
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="19px">
        <path d="M16.009,7.798 C15.925,7.523 15.756,7.418 15.625,7.286 C14.215,5.873 12.790,4.475 11.393,3.048 C10.430,2.064 10.649,0.695 11.821,0.155 C12.502,-0.159 13.224,0.001 13.858,0.631 C15.582,2.344 17.300,4.063 19.021,5.779 C19.808,6.564 20.574,7.370 21.391,8.123 C22.178,8.847 22.219,10.065 21.430,10.845 C18.885,13.356 16.366,15.892 13.830,18.412 C13.068,19.168 12.022,19.192 11.309,18.497 C10.582,17.789 10.602,16.722 11.377,15.945 C12.810,14.506 14.253,13.078 15.691,11.644 C15.799,11.536 15.899,11.420 16.035,11.272 C15.764,11.152 15.521,11.206 15.289,11.206 C10.772,11.201 6.254,11.204 1.736,11.199 C0.913,11.197 0.254,10.696 0.063,9.965 C-0.147,9.166 0.197,8.383 0.923,7.972 C1.228,7.800 1.553,7.799 1.883,7.799 C6.384,7.798 10.884,7.798 15.385,7.798 C15.575,7.798 15.764,7.798 16.009,7.798 Z"/>
    </svg>

mixin arrow-l
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"width="22px" height="19px">
        <path d="M5.991,11.203 C6.075,11.477 6.244,11.582 6.375,11.714 C7.785,13.127 9.210,14.525 10.607,15.952 C11.570,16.936 11.351,18.305 10.179,18.846 C9.498,19.159 8.776,18.999 8.142,18.369 C6.418,16.656 4.700,14.937 2.979,13.221 C2.192,12.436 1.426,11.629 0.609,10.877 C-0.178,10.153 -0.219,8.935 0.570,8.156 C3.115,5.644 5.634,3.107 8.170,0.588 C8.931,-0.168 9.978,-0.192 10.691,0.503 C11.418,1.211 11.398,2.278 10.623,3.055 C9.190,4.494 7.747,5.922 6.309,7.356 C6.201,7.464 6.101,7.580 5.965,7.728 C6.236,7.848 6.479,7.795 6.711,7.795 C11.228,7.799 15.746,7.796 20.264,7.802 C21.087,7.803 21.746,8.304 21.937,9.035 C22.147,9.834 21.803,10.617 21.077,11.028 C20.772,11.200 20.447,11.201 20.117,11.201 C15.616,11.201 11.115,11.202 6.615,11.203 C6.425,11.203 6.236,11.203 5.991,11.203 Z"/>
    </svg>

mixin arrow-b
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="22px">
        <path d="M11.203,16.009 C11.477,15.926 11.582,15.757 11.714,15.625 C13.127,14.215 14.525,12.790 15.952,11.394 C16.935,10.430 18.305,10.650 18.845,11.821 C19.159,12.502 18.999,13.224 18.369,13.859 C16.656,15.583 14.937,17.300 13.221,19.021 C12.436,19.807 11.630,20.574 10.877,21.391 C10.153,22.178 8.935,22.220 8.155,21.430 C5.644,18.886 3.108,16.366 0.588,13.830 C-0.168,13.069 -0.192,12.022 0.503,11.309 C1.211,10.583 2.278,10.603 3.055,11.377 C4.494,12.810 5.922,14.253 7.356,15.691 C7.464,15.800 7.580,15.899 7.728,16.035 C7.848,15.764 7.794,15.521 7.795,15.290 C7.799,10.772 7.796,6.254 7.801,1.736 C7.803,0.913 8.304,0.254 9.035,0.063 C9.834,-0.147 10.617,0.198 11.028,0.923 C11.200,1.228 11.201,1.552 11.201,1.883 C11.201,6.384 11.202,10.884 11.203,15.385 C11.203,15.575 11.203,15.764 11.203,16.009 Z"/>
    </svg>

mixin doctor
    .doctor
        .doctor__wrapper
            .doctor__img
                img(alt="")&attributes(attributes)
            a(href="specialist.html").doctor__button.button.button_rounded.button_block Подробнее
            h3.doctor__name Попов Максим
            span.doctor__description Врач стоматолог-терапевт с 2008г.

mixin article-card
    li.article-card
        ul.acrticle-card__tags
            li #протезирование_зубов
        span.article-card__headline Изготовление культевы штифто-вкладок
        p.article-card__description Быстрый подсчет количества символов в тексте онлайн, введите текст в текстовую область и поле сообщит вам сколько букв в тексте или строке... 
        span.article-card__more Подробнее
        a(href="article.html" aria-label="Перейти к статье").link-block
